@import url(../../../../assets/css/components/scrollbar.css);
@import url(../../../../assets/css/swal_style.css);
@import url(../../../../assets/css/mobile.css);
@import url(../../../../assets/css/reset.css);
@import url(../../../../assets/css/colors.css);
@import url(header.css);
@import url(main.css);

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    background: var(--bg-color);
    color: var(--white-color);
    max-width: 100vw;
}

h2 {
    font-size: 48px;
}

@media (max-width: 1300px) {
    .header {
        top: 0;
        height: fit-content;
    }

    .main__form form {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .main__form {
        width: 90%;
        height: 100%;
    }

    .file {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button_cadastro {
        width: 90%;
    }
}

@media (max-width: 720px) {
    /*body {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/
    /*main {*/
    /*    flex-grow: 1;*/
    /*}*/
}
