@import url(../components/scrollbar.css);
@import url(../mobile.css);
@import url(../reset.css);
@import url(../colors.css);
@import url(./header.css);
@import url(./main.css);

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    color: var(--white-color);
    max-width: 100vw;
}

h2 {
    font-size: 48px;
}

@media (max-width: 1300px) {
    .main__menu-select {
        width: 90%;
    }

    .header {
        height: 15vh
    }

    .main__form form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main__form {
        width: 90%;
        height: 100%;
    }

    .file {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
